{% extends "./layouts/base.html" %}
{% block content %}

<link rel="stylesheet" href="/assets/css/fallback.css" />
<div class="pt-20">
    <div class="container">
        <center>
            <img src="/assets/img/dog_not_found.webp" alt="Nothing Here" class="rounded-lg">
        </center>
        
        <h1>Oops! There's Nothing Here.</h1>
        <p class="message">You were expecting something? Well... surprise! It's just empty space.</p>
        <p>Maybe try <a href="/">going home</a> before you get lost in the void.</p>
    </div>
</div>

{% endblock content %}
