{% extends "./layouts/base.html" %}
{% block content %}

<link rel="stylesheet" href="/assets/css/fallback.css" />
<div class="pt-20">
    <div class="container">
        <center>
            <img src="https://media.giphy.com/media/J6c7Yut8TgErS/giphy.gif" alt="Nothing Here">
        </center>
        
        <h1>Oops! There's Nothing Here.</h1>
        <p class="message">You were expecting something? Well... surprise! It's just empty space.</p>
        <p>Maybe try <a href="/">going home</a> before you get lost in the void.</p>
    </div>
</div>

{% endblock content %}
